@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Hide scrollbars globally */
@layer base {
  ::-webkit-scrollbar {
    display: none;
  }
  html, body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}